/*@media(min-width: 1px){*/
body{
    width: 100%;
    background-color: aqua;
    margin: 0px;
}
div#menu{
    background-color: grey;
}
div#menu p#pMenu{
    z-index: 2;
    margin-left: 10px;
}
div#menu p{
    text-align: center;
    margin: 0px;
    font-size: 400%;
}
#opcoes{
    position: relative;
    bottom: 0px;
    height: 100%;
    display: none;
}
#opcoes:target{
    display: block;
}
a{
    text-decoration: none;
    color: black;
}