/*desktop*/
@media(min-device-width: 701px){
    body{
        margin: 0px;
        font-size: 20px;
    }
    input, select, textarea{
        font-size: 20px;
        resize: none;
    }
    option{
        font-size: 20px;
    }

    /*utilizado no login*/
    div.login{
        display: flex;
        flex-flow: column wrap;
        align-items: center;
    }
    /*FIM utilizado no login*/
    /*utilizado no menu*/
    div#menu{
        background-color: grey;
        margin: 0px;
    }
    div#menu p#pMenu, div#menu p#pFechar{
        display: none;
    }
    div#menu p, div#menu form{
        text-align: center;
        margin: 0px;
    }
    .opcao{
        padding: 10px;
    }
    .opcao1{
        grid-area: opcao1;
    }
    #opcoes{
        margin: 0px;
        background-color: grey;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: auto;
        grid-template-areas: 
            "opcao1";
        display: grid;
    }
    a{
        text-decoration: none;
        color: black;
        padding: 10px 30px;
    }
    div#menu div#opcoes form input{
        background-color: grey;
        border: none;
        color: black;
        padding: 0px;
        text-align: center;
        text-decoration: none;
        display: inline-block;

        cursor: pointer;
    }
    /*FIM utilizado no menu*/
    /*utilizado na pag MC*/
    .pauta{
        height: 10em;
        width: 99%;
    }
    table, tr, tbody{
        width: 100%;
    }
    .gestao table, .gestao tr, .gestao tbody{
        width: auto;
    }
    /*FIM utilizado na pag MC*/
    /*utilizado nos grids*/
    .item-a {
        grid-area: header;
        width: auto;
    }
    .item-b {
        grid-area: main;
        width: auto;
    }
    .container {
        margin: 5px;
        background-color: rgb(167, 72, 72);
        
        display: grid;
        grid-template-columns: auto 70%;
        grid-template-rows: auto;
        grid-template-areas: 
            "header main";
    }
    .containers{
        display: grid;
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
    }
    /*FIM utilizado nos grids*/
    /*utilizado na pag demolay*/
    .presencas .containers{
        grid-template-columns: repeat(4, 1fr);
    }
    .presencas .containers .container{
        background-color: aqua;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        grid-template-areas: 
            "header" "main";
    }
    table.mensalidades td{
        border: solid black 1px;
    }
    td{
        width: auto;
        border: solid black 1px;
    }
    /*FIM utilizado na pag demolay*/
    /*utilizado na pag Escrivao*/
    table, tr, tbody{
        width: 100%;
    }
    /*FIM utilizado na pag Escrivao*/
    /*utilizado para abrir e fechar as divs*/
    .hide{
        display: none;
    }
    .show{
        display: block;
    }
    /*FIM utilizado para abrir e fechar as divs*/
}/**/
/*celular*/
@media (max-device-width: 700px){
    body{
        margin: 0px;
        font-size: 60px;
    }
    input, select, textarea, button{
        font-size: 60px;
        resize: none;
    }
    option{
        font-size: 20px;
    }

    /*utilizado no login*/
    div.login{
        display: flex;
        flex-flow: column wrap;
        align-items: center;
    }
    /*FIM utilizado no login*/

    /*utilizado no menu*/
    div#menu{
        background-color: grey;
    }
    div#menu p#pMenu{
        padding: 20px;
    }
    div#menu p, div#menu form{
        text-align: center;
        margin: 0px;
    }
    .opcao{
        padding: 50px;
    }
    .opcao1{
        grid-area: opcao1;
    }
    #opcoes{
        margin: 5px;
        background-color: rgba(100, 34, 28);
        
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 
            "opcao1 opcao1";
        display: none;
    }
    #opcoes:target{
        display: grid;
    }
    a{
        text-decoration: none;
        color: black;
        padding: 50px 50px;
    }
    div#menu div#opcoes form input{
        background-color: rgba(100, 34, 28);
        border: none;
        color: black;
        padding: 0px;
        text-align: center;
        text-decoration: none;
    }
    /*FIM utilizado no menu*/
    /*utilizado na pag MC*/
    .pauta{
        height: 10em;
        width: 100%;
        
    }
    table, tr, tbody{
        width: 100%;
    }
    /*FIM utilizado na pag MC*/
    /*utilizado na pag demolay*/
    /*utilizado na div reunioes*/
    .item-a {
        grid-area: header;
    }
    .item-b {
        grid-area: main;
    }
    .container {
        margin: 5px;
        background-color: rgb(167, 72, 72);
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto 1fr;
        grid-template-areas: 
            "header" "main";
    }
    .containers{
        display: grid;
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
    }
    /*FIM utilizado na div reunioes*/
    table.mensalidades td{
        border: solid black 1px;
    }
    .hide{
        display: none;
    }
    .show{
        display: block;
    }
    td{
        width: auto;
        border: solid black 1px;
    }
    /*FIM utilizado na pag demolay*/
    /*utilizado na pag Escrivao*/
    .presencas .containers{
        grid-template-columns: repeat(1, 1fr);
    }
    .presencas .containers .container{
        background-color: aqua;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        grid-template-areas: 
            "header" "main";
    }
    #iPauta{
        height: 10em;
        width: 100%;
        
    }
    table, tr, tbody{
        width: 100%;
    }
    /*FIM utilizado na pag Escrivao*/
}